<div class="banner container fluid">

    <div tabindex="0" class="ui animated fade button">
        <div class="visible content"> >>> Buy Now <<< </div> <div class="hidden content">
                Up To 25% Discount
        </div>
    </div>
</div>