<div class="nav_category">
    <div class="ui secondary  menu">
        @each(category in categories)
        <a class=" item" href="/category/{{category.slug}}">
            {{category.name}}
        </a>
        @endeach
    </div>
</div>