/* 8bc34a */
/* c8c8c8 */
/* 1c1c1b */
:root {
  --green-color: #8bc34a;
}
html,
body {
  width: 100%;
}
* {
  font-family: "Open Sans", sans-serif;
  color: #1c1c1b;
  font-weight: 300;
}
/* header  */
header {
  padding: 25px 0 0 0;
}
.action {
  margin-left: 215px;
  height: 45px;
}
.right {
  height: 45px;
}
.logo img {
  max-width: 35%;
}
.right .button {
  margin-right: 16px !important;
}
.menu .loved,
.menu .shopping_cart {
  background-color: transparent !important;
}
.menu .shopping_cart,
.menu .loved {
  font-size: 16px;
  position: relative;
}
.menu .shopping_cart i {
  color: #c0c0c0;
}
#card_total {
  position: absolute;
  top: -2px !important;
  left: 62% !important;
  color: #8bc34a;
}
#love_total {
  position: absolute;
  top: -2px !important;
  right: 2% !important;
  color: #c4302b;
  font-weight: 800;
}
.search input {
  width: 100%;
}
.search .button {
  background: var(--green-color);
  color: #fff;
}
.search .button:hover {
  background: var(--green-color);
}
.nav_category a.item {
  color: #fff !important;
}
/* End header */
/* login and register */
.login_register {
  margin: 18px 0;
}
.login_register .tab {
  padding: 32px;
}
.login_register div.active,
.login_register .menu a.active,
.menu .btn_active {
  background-color: #f8fbfc !important;
}

.login_register .ui.segment {
  min-height: auto !important;
}
.login_btn {
  margin-top: 18px !important	;
}
.login_btn button {
  background-color: var(--green-color) !important;
  color: #fff !important;
}

.forgot_password {
  font-size: 13px;
}

.or {
  margin: 15px 0;
}
.social_button {
  margin-top: 15px;
}
.social_button i {
  color: #fff !important;
}

/* hero image */
.hero_image {
  padding: 0 !important;
  background-color: #8bc34a !important;
  border-radius: 0 !important;
  border: 0 !important;
  margin-bottom: 0;
}
.hero_image .banner {
  height: 450px;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/banners-homeIOT-04.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 !important;
}
.banner1 {
  background-image: url("../images/small_banner1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}
.banner2 {
  background-image: url("../images/small_banner2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
}
.hero_image .banner p {
  font-size: 36px;
  text-align: center;
  word-spacing: 5px;
  color: #fff;
}
.hero_image .banner .button {
  background: var(--green-color);
  width: auto;
  color: #fff !important;
}
.hero_image .banner button:hover {
  background: var(--green-color);
}
.hero_image .banner .button .content {
  color: #fff !important;
}
.swiper-container {
  position: relative;
  top: -88px;
  height: 200px;
  z-index: 100;
  background-color: white;
  margin: 0 150px;
  box-shadow: 2px 7px 5px 1px rgba(207, 207, 214, 0.75);
  -webkit-box-shadow: 2px 7px 5px 1px rgba(207, 207, 214, 0.75);
  -moz-box-shadow: 2px 7px 5px 1px rgba(207, 207, 214, 0.75);
}
.swiper-pagination-bullet {
  background-color: black !important;
}
.swiper-button-next,
.swiper-button-prev {
  background-image: none !important;
}
.swiper-button-next i,
.swiper-button-prev i {
  font-size: 32px !important;
}
/* end hero image */
/* Top seller section */
#top_seller {
  margin: 0;
  padding: 0;
}
.top_seller_wrapper {
  margin: 0;
  padding: 0;
}
.top_seller {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}
.top_seller_wrapper .add_to_class:hover {
  background-color: var(--green-color) !important;
  border: none;
  color: #fff;
}
.top_seller_wrapper .button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.section_heading {
  margin-bottom: 20px;
}
.section_heading span {
  color: var(--green-color);
}
.top_seller_wrapper .category {
  color: #c8c8c8;
  text-transform: capitalize;
}
.top_seller_wrapper .title {
  color: rgb(15, 15, 15);
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 15px;
}
.top_seller_wrapper .title i {
  float: right;
  color: #c8c8c8;
}
.top_seller_wrapper .price {
  color: var(--green-color);
  font-size: 27px;
}
.explore_more {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 45px;
  font-size: 14px;
}
/* why become seller section */
#why_become_seller {
  margin: 25px 0;
  padding: 0;
  background-color: #f8fbfc;
}

#why_become_seller .column h1 {
  text-align: start;
  color: var(--green-color);
  font-size: 45px;
}
#why_become_seller .column img {
  max-width: 70%;
}
#why_become_seller .button {
  width: 190px;
  margin-top: 52px;
  height: 45px;
  background-color: var(--green-color);
  color: #fff;
}
/* features products */
.feature_product_wrapper {
  margin-top: 28px;
}

/* category page */
#category {
  margin: 0;
  padding: 0;
}
.category_wrapper {
  margin: 0;
}
.category_wrapper .ui.breadcrumb {
  margin-bottom: 28px;
  padding-left: 7px;
}

.category_content {
  display: flex;
}
.category_content .add_to_card {
  background-color: var(--green-color);
  color: #fff;
}
.category_content .add_to_card:hover {
  color: #fff;
  background-color: var(--green-color);
}
.pagination_wrapper {
  text-align: center;
  margin: 28px 0;
}
.pagination_wrapper .active {
  background-color: var(--green-color) !important;
  color: #fff !important;
}
.pagination_wrapper .item:hover {
  background-color: var(--green-color) !important;
  color: #fff !important;
}
/* End category page */

/* Details page */
#details_container {
  display: flex;
  justify-content: space-between;
}
/* Dashboard */
.pushable > .pusher:after {
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  opacity: 0;
}
.pushable > .pusher.dimmed:after {
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
}
.dashboard_content {
  background-color: #fff !important;
}
.form_wrapper {
  padding: 12px;
}
input:focus {
  border: 1px solid #8bc34a !important;
  background-color: #fff !important;
  color: black;
}

input:focus::-webkit-input-placeholder {
  color: grey !important;
}

.form_wrapper .btn_submit {
  background: #8bc34a !important;
  color: #fff !important;
}

.seller_product_wrapper .breadcrumb {
  margin-bottom: 15px;
}
.seller_product_wrapper .breadcrumb a {
  color: #1c1c1b;
  font-weight: 400;
}

.seller_product_wrapper .card .header {
  color: black !important;
}
.seller_product_wrapper div.card {
  background-color: rgb(249, 250, 251) !important;
}

#dropzoneFrom {
  border: 3px dotted var(--green-color) !important;
  margin: 25px 0;
}

#submit_image {
  background-color: var(--green-color) !important;
  padding-left: 0;
  color: #fff;
}
.ui.labeled.icon.button,
.ui.labeled.icon.buttons .button {
  padding-left: 35px !important;
}

#submit_image i {
  background-color: var(--green-color) !important;
  color: #fff;
}
.dropzone {
  min-height: 350px;
  background: white;
  padding: 0;
}
.dz-default.dz-message {
  padding-top: 90px !important;
}
/* End Dashboard */
/* Checkout page */
#coupon {
  background-color: var(--green-color) !important;
  color: #fff;
}
.proceed_wrapper {
  display: flex;
  justify-content: space-between;
}
#btn_checkout {
  background: var(--green-color) !important;
  color: #fff !important;
  width: 100%;
  font-size: 14px;
  border: none !important	;
}
/* End checkout */

/* payment */

.InputContainer {
  border: 2px solid red !important;
}
#card_wrapper {
  height: auto;
  padding: 25px;
}
#card-element {
  margin-bottom: 45px;
}
.btn_card {
  background: var(--green-color) !important;
  color: #fff !important;
}
/* End payment */
.detail_sidebar {
  margin-top: 28px;
}
.seller_image_wrapper {
  padding: 25px 0;
}
.image_wrapper {
  text-align: center !important;
}
.image_wrapper img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.info_wrapper {
  text-align: center !important;
}
.info_wrapper p {
  color: #c0c0c0;
}
.info_wrapper h3 {
  margin: 0;
}
.seller_city {
  font-size: 16px;
  margin-bottom: 18px;
}
.seller_about {
  margin-top: 25px;
  padding: 0 25px;
  text-align: center;
}
.become_seller_banner {
  height: 150px;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/banner12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 !important;
}
.name_wrapper {
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  margin-left: 50px;
}
.lSGallery {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lSPager li a img {
  height: 50px !important;
}
.name_wrapper span {
  font-size: 78px;
}
.product_details_content {
  padding: 35px 0 !important;
}
.product_title h3 {
  font-size: 18px;
  margin-bottom: 17px;
}
.product_description {
  color: #c0c0c0;
  font-size: 16px !important;
}
.demo {
  width: 620px;
}
.demo li img {
  width: 100%;
  object-fit: cover;
  height: 380px;
  margin: 0;
}

.product_action {
  padding: 28px 0 !important	;
  text-align: center;
  padding: 25px 0;
  width: auto;
  background-color: #fafafa !important;
  border: none !important	;
}
.product_price span {
  font-size: 34px;
  color: #8bc34a;
  font-weight: 600;
}
.rating {
  font-size: 26px;
  color: #8bc34a;
  margin-left: 38px;
  margin-top: 14px !important	;
}
.rating span {
  color: #f39c12 !important;
  cursor: pointer;
}
.product_action .add_product_to_card {
  background-color: #8bc34a;
  color: #fff;
  margin-bottom: 27px;
}
#chk {
  background-color: #fff !important;
  color: black;
  box-sizing: border-box;
  border: 1px solid #8bc34a !important;
}
#chk:hover {
  border: 1px solid #8bc34a !important;
}
#chk i {
  color: #c0c0c0;
}

.add_product_to_card i {
  color: #fff;
}
.product_action .add_product_to_card:hover {
  background-color: #8bc34a;
  color: #fff;
}
.product_action .popup:before {
  background-color: #8bc34a !important;
}
.product_action .popup {
  background-color: #8bc34a !important;
  color: #fff !important;
}
.product_action .popup .content {
  color: #fff !important;
}
.product_action .love:hover {
  cursor: pointer;
}
#heart:hover {
  cursor: pointer !important;
}
.category_sidebar .menu {
  border: 0 !important;
}
.category_sidebar .list .item {
  font-size: 18px;
  font-weight: 300;
  margin-left: 12px;
}
#tab {
  padding: 1px;
}
#tab .secondary a.active {
  background-color: transparent !important;
}
#tab .menu .tab_item:hover {
  background-color: transparent !important;
}
.product_title:hover {
  color: black !important;
}
.btns_wrapper button {
  color: #fff !important;
  background-color: #8bc34a !important;
  height: auto;
}
.btns_wrapper button.liked {
  background-color: transparent !important;
  color: #8bc34a !important;
  font-size: 14px;
}
.btns_wrapper button.liked i {
  color: #8bc34a !important;
  font-size: 14px;
}

/* end details page */
/* Dashboard */

#admin_nav .vertical {
  border: 0 !important;
}
#admin_nav a.active {
  background-color: #8bc34a;
  color: #fff;
  margin: 0;
}
#admin_nav a.active::after {
  background-color: #8bc34a;
}
#admin_nav a.pointing {
  color: #c4302b !important	;
}
#admin_nav a.item:hover {
  background-color: #8bc34a !important;
  color: #fff;
}
div.dashbord_menu a.item {
  display: none;
  background-color: #8bc34a;
}

.dashboard_top_menu a.section:hover {
  color: rgb(59, 89, 152);
  font-weight: 600;
}
.example tr {
  text-align: center;
  width: auto;
}
.banner_wrapper {
  margin-bottom: 18px;
  background-image: url("../images/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  width: 100%;
}
.banner_wrapper h3 {
  position: relative;
  left: 40%;
  top: 20%;
  color: #fff;
  font-size: 42px;
  font-weight: 600;
}

/* footer */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
}
/* checkout */
.checkout_btn_wrapper {
  background-color: #f8fbfc;
}

#message_box {
  display: none;
  position: absolute;
  z-index: 10;
  right: 10px;
  background-color: #166ca3 !important;
  color: #fff !important;
  font-weight: 600 !important;
  border: 0;
}
#message_box .description i,
#message_box .description span {
  color: #fff !important;
  font-weight: 600 !important;
}

footer .vertical {
  text-align: start;
}
footer .vertical .header {
  font-size: 22px;
}
footer .vertical i.facebook {
  color: #3b5998;
}
footer .vertical i.youtube {
  color: #c4302b;
}
footer .vertical i.twitter {
  color: #1da1f2;
}
footer .vertical i.instagram {
  color: #c32aa3;
}
footer .vertical i.google {
  color: #dd4b39;
}
footer .copyright {
  text-align: center;
  margin-bottom: 52px;
}
