@layout('layout.dashboard_layout')

@section('content')
Dashboard
<img src="https://iotapp.s3-eu-west-1.amazonaws.com/1573688125322_Landscape-Sunset+-+Copy+(1).jpg" alt="">
<a href="https://iotapp.s3-eu-west-1.amazonaws.com/1573688125322_Landscape-Sunset+-+Copy+(1).jpg"></a>
@endsection